# Python
__pycache__/
*.py[cod]
*.egg-info/

# 虚拟环境
venv/

# PyInstaller 构建产物
build/
dist/

# Pandoc 二进制（从 https://github.com/jgm/pandoc/releases 下载）
pandoc/pandoc.exe

# IDE
.vscode/
.idea/

# 系统文件
Thumbs.db
Desktop.ini
